.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
  z-index: 10;
  overflow: hidden;
}
.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: 20px;
  min-height: 300px;
  min-width: 400px;
  transform: translateY(200%);
  animation: slideIn 0.7s ease forwards;
  border-radius: 15px;
  border: 2px solid #fff;
}

@keyframes slideIn {
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0%);
  }
}
